html {
    border: 1px dashed black;
}

body {
    width: 80%;
    margin: 0 auto;
}

div {
    width: 100px;
    height: 50px;
    border: 2px double darkgreen;
    background-color: chartreuse;
    border-radius: 5px;
    color: darkgreen;
    margin: 0 auto;
}